fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
pytest
httpx
bcrypt==3.2.10 #Здесь не уверен, нужно проверять
coverage